# Node
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Build output
dist/
build/

# Obsidian
.obsidian/

# macOS
.DS_Store

# Logs
*.log

# IDE
.vscode/
.idea/

# TypeScript
*.tsbuildinfo

# Env
.env
.env.local

# claude
.claude
